.CarouselContainer {
    margin: 100px 0 0;
    padding: 15px 0;
    background: #f5f5f52f;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    scrollbar-width: none;
}

.CarouselHeading {
    font-size: 1.6rem;
    margin-bottom: 0;
    line-height: 0;
    margin-left: 3rem;
}

.Carousel {
    display: block;
    width: 100vw;
    margin: 25px 0;
}

.CarouselInnerWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    perspective: 15000px;
}

@media screen and (min-width: 768px) {
    .Carousel {
        overflow-x: scroll;
        scrollbar-width: none;
        padding: 25px 0;
    }

    .CarouselInnerWrapper {
        flex-basis: 0;
        flex-wrap: nowrap;
        width: max-content;
    }
}