.VideoModal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

.closeModal {
    cursor: pointer;
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: 1000;
    height: 48px;
    width: 48px;
    transition: opacity .2s ease-in-out;
}

@media (min-width: 600px) {
    .closeModal {
        opacity: .5;
    }

    .closeModal:hover {
        opacity: 1;
    }
}

@media (min-width: 768px) {
    .VideoModal {
        flex-direction: row;
        align-items: unset;
        justify-content: center;
    }
}