.App {
  min-height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
}

.AppHeader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 500;
  height: 75px;
  width: 100%;
  background-color: #282c34;
  box-shadow: 0 1px 10px #282c349f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.AppHeader h1 {
  font-size: 1.5rem;
}

/* Body hide overflow-x utility class */
.hideOverflowX {
  overflow-x: hidden;
}